
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">S3URL</a>
    </div>
     <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>  
	</div>
</nav>

<h3 style="padding-top: 40px">Welcome Developer!</h3>


<!--<div class="container-fluid text-center bg-grey">
  <h2>Portfolio</h2>
  <h4>What we have created</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/gogs.png" alt="Paris">
        <p><strong>Paris</strong></p>
        <p>Yes, we built Paris</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/jenkins.png" alt="New York">
        <p><strong>New York</strong></p>
        <p>We built New York</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img src="img/fabric8.JPG" alt="San Francisco">
        <p><strong>San Francisco</strong></p>
        <p>Yes, San Fran is ours</p>
      </div>
    </div>
</div> -->

<div class="container-fluid">
  <div class="text-center">
    <h2>Your dashboard</h2>
   
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1>Gogs</h1>
        </div>
        <div class="panel-body">
           <img src="img/gogs.png" class="img-responsive" alt="Gogs">
        </div>
        <div class="panel-footer">
         <button class="btn btn-lg btn-info">Go to Gogs</button>
        </div>
      </div> 
    </div> 
    <div class="col-sm-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1>Jenkins</h1>
        </div>
        <div class="panel-body">
              <img src="img/jenkins.png" class="img-responsive" alt="Jenkins">
        </div>
        <div class="panel-footer">
         
          <button class="btn btn-lg btn-info">Go to Jenkins</button>
        </div>
      </div> 
    </div> 
   <div class="col-sm-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1>Fabric8</h1>
        </div>
        <div class="panel-body">
           <img class="img-responsive"  src="img/fabric8.JPG" alt="fabric8">
        </div>
        <div class="panel-footer">
         
          <button class="btn btn-lg btn-info">Go to fabric8</button>
        </div>
      </div> 
    </div> 
  </div>
</div>
