

  <div class="loginbox">
          
                                
                               
                                    <form name="lform" class="form-signin" ng-submit="vm.login()" role="form">
                                        <h3 class="form-signin-heading"> Sign in to dashboard</h3>
                                           <hr class="colorgraph">
                                       <div class="input-group">
              <input id="email" type="text" class="form-control" name="email" placeholder="Email" ng-model="vm.email">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span> 
              <span class="help-block" ng-show="lform.email.$touched && lform.email.$invalid">Please enter your Email id.</span>
              </div><br/>
            <div class="input-group">
              <input id="password" type="password" class="form-control" name="password" placeholder="Password"  ng-model="vm.password">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <span  class="help-block" ng-show="lform.password.$dirty && lform.password.$error.required">Password is required</span>
            </div><br/>
                      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary navbar-inverse center-block">Sign in</button>
                                   
                                    </form>
                                       <br/>
                                <h3> <center> <a href="#/register" class="btn btn-link"> Dont have an account?Register here!!</a>  </center>  </h3>
                               </div>
                          