
  <div class="loginbox">
          
                                
                               
                                    <form name="rform" class="form-signin" ng-submit="vm.register()" role="form">
                                        <h3 class="form-signin-heading"> Sign up to use S3URL</h3>
                                      <hr class="colorgraph"> 
		<div class="input-group">
              <input id="email" type="text" class="form-control" name="username" placeholder="User Name">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>   
            </div><br/>									  
                                       <div class="input-group">
              <input id="email" type="text" class="form-control" name="email" placeholder="Email">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>   
            </div><br/>
           
			
			 <div class="input-group">
              <input id="password" type="password" class="form-control" name="password" placeholder="Password">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            </div><br/>
				 <div class="input-group">
              <input id="confirm" type="password" class="form-control" name="confirm" placeholder="Confirm Password">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            </div><br/>
                      <button type="submit" class="btn btn-primary navbar-inverse center-block">Create account</button>
                                   
                                    </form>
                                         
                               </div>
                        

